body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #d4f7ff, #e8ffe8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 260px;
    background: #e3ecf5;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 8px 30px rgba(0,0,0,0.3);
}


#display {
    width: 90%;
    height: 55px;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: right;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #eef4fa;
    color: #333;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    padding: 15px;
    background: #c7e7ff;
    border: none;
    color: #1b1b1b;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #a8d6ff;
    transform: translateY(-3px);
}
